<!DOCTYPE html>
<html>

<head>
    <title>Completed</title>
</head>

<body>
    {% extends 'todo/base.html' %}
    {% block content %}
    {% csrf_token %}
    <h1>Completed</h1>
    <ul>
        {% for todo in todos %}
        <li>
            <a href="{% url 'viewtodo' todo.id %}">
                {% if todo.important %}<b>{% endif %}{{ todo.title }}{% if todo.important %}</b>{% endif %} -
                {{ todo.completed }}
        </li>
        </a>
        {% endfor %}
    </ul>
    {% endblock %}
</body>

</html>